<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ddlover.job.mapper.ExecutorMachineMapper">
  <resultMap id="baseResultMap" type="cn.ddlover.job.entity.ExecutorMachine">
    <id property="executorMachineId" column="EXECUTOR_MACHINE_ID"/>
    <result property="executorId" column="EXECUTOR_ID"/>
    <result property="ip" column="IP"/>
    <result property="port" column="PORT"/>
    <result property="status" column="STATUS" />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="executorMachineId">
    insert into EXECUTOR_MACHINE(`EXECUTOR_ID`, `IP`, `PORT`)
    values (#{executorId}, #{ip}, #{port})
  </insert>

  <select id="listByExecutorId" resultMap="baseResultMap">
    select EXECUTOR_MACHINE_ID, EXECUTOR_ID, IP, PORT, `STATUS`
    from EXECUTOR_MACHINE
    where EXECUTOR_ID = #{executorId}
  </select>
</mapper>